In [1]:
import numpy as np
import pandas as pd

/Library/Python/2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
dataframe_train = pd.read_csv('train.csv', sep=';')
dataframe_test = pd.read_csv('test.csv', sep=';')

In [3]:
dataframe_train.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [4]:
dataframe_train['age'].unique()

array([30, 39, 25, 38, 47, 32, 41, 31, 35, 36, 29, 27, 44, 46, 45, 50, 55,
       40, 28, 34, 33, 51, 48, 20, 76, 56, 24, 58, 60, 37, 52, 42, 49, 54,
       59, 57, 43, 53, 75, 82, 71, 21, 22, 23, 26, 81, 61, 67, 73, 18, 64,
       74, 77, 86, 85, 63, 88, 78, 72, 68, 80, 66, 19, 62, 65])

In [5]:
# drop permits to delete the colonne
dataframe_train = dataframe_train.drop(['day_of_week'],axis=1)
dataframe_train = dataframe_train.drop(['poutcome'],axis=1)
dataframe_train = dataframe_train.drop(['loan'],axis=1)
dataframe_train = dataframe_train.drop(['month'],axis=1)

In [6]:
dataframe_train.head()

,age,job,marital,education,default,housing,contact,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,cellular,487,2,999,0,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,telephone,346,4,999,0,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,telephone,227,1,999,0,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,telephone,17,3,999,0,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,cellular,58,1,999,0,-0.1,93.200,-42.0,4.191,5195.8,no

In [7]:
# yes : 1, no : 0, unknown : -1
#5 - default: has credit in default? (categorical: 'no','yes','unknown')
dataframe_train['default'] = dataframe_train['default'].map({'yes':1,'no':0,'unknown':-1})

# 6 - housing: has housing loan? (categorical: 'no','yes','unknown')
dataframe_train['housing'] = dataframe_train['housing'].map({'yes':1,'no':0,'unknown':-1})

# 21 - y - has the client subscribed a term deposit? (binary: 'yes','no')
dataframe_train['y'] = dataframe_train['y'].map({'yes':1,'no':0,'unknown':-1})

# 8 - contact: contact communication type (categorical: 'cellular','telephone')
dataframe_train['contact'] = dataframe_train['contact'].map({'cellular':0,'telephone':1})

# 3 - marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
dataframe_train['marital'] = dataframe_train['marital'].map({'divorced':0,'married':1, 'single' : 2, 'unknown': -1})

# 4 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
dataframe_train['education'] = dataframe_train['education'].map({'basic.4y':0,'basic.6y':1,'basic.9y':2,'high.school':3,'illiterate':4,'professional.course':5,'university.degree':6,'unknown':-1})

# 2 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
dataframe_train['job'] = dataframe_train['job'].map({'admin.':0,'blue-collar':1,'entrepreneur':2,'housemaid':3,'management':4,'retired':5,'self-employed':6,'services':7,'student':8,'technician':9,'unemployed':10,'unknown':-1})

# 9 - month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
# dataframe_train['month'] = dataframe_train['month'].map({'jan':0,'feb':1,'mar':2,'apr':3,'may':4,'jun':5,'jul':6,'aug':7,'sep':8,'oct':9,'nov':10,'dec':12})

In [8]:
dataframe_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 17 columns):
age               2999 non-null int64
job               2999 non-null int64
marital           2999 non-null int64
education         2999 non-null int64
default           2999 non-null int64
housing           2999 non-null int64
contact           2999 non-null int64
duration          2999 non-null int64
campaign          2999 non-null int64
pdays             2999 non-null int64
previous          2999 non-null int64
emp.var.rate      2999 non-null float64
cons.price.idx    2999 non-null float64
cons.conf.idx     2999 non-null float64
euribor3m         2999 non-null float64
nr.employed       2999 non-null float64
y                 2999 non-null int64
dtypes: float64(5), int64(12)
memory usage: 398.4 KB

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import cross_validation
from sklearn.metrics import matthews_corrcoef

/Library/Python/2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [10]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(dataframe_train.values[:,:-1], dataframe_train.values[:,-1], test_size=0.5)

In [11]:
from sklearn import cross_validation
from sklearn.cross_validation import cross_val_score

In [22]:
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
decision_tree_pred = clf.predict(X_test)
matthews_corrcoef(y_test, decision_tree_pred)

0.42766120949532349

In [23]:
decision_tree_cross = cross_val_score(clf,X_train,y_train)
print "result of cross-validation: {0}".format(decision_tree_cross.mean())

result of cross-validation: 0.885952877145

In [24]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=1000)
clf.fit(X_train, y_train)
random_forest_pred = clf.predict(X_test)
matthews_corrcoef(y_test, random_forest_pred)

0.45098342499973154

In [25]:
random_forest_cross = cross_val_score(clf,X_train,y_train)
print "result of cross-validation: {0}".format(decision_tree_cross.mean())

result of cross-validation: 0.885952877145

In [26]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
clf.fit(X_train, y_train)
kneighbors_prediction = clf.predict(X_test)
matthews_corrcoef(y_test, kneighbors_prediction)

0.49457425968519736

In [27]:
knn_cross = cross_val_score(clf,X_train,y_train)
print "result of cross-validation: {0}".format(knn_cross.mean())

result of cross-validation: 0.897276922441

In [28]:
from sklearn.ensemble import BaggingClassifier
clf = BaggingClassifier(KNeighborsClassifier())
clf.fit(X_train, y_train)
bagg_prediction = clf.predict(X_test)
matthews_corrcoef(y_test, bagg_prediction)

0.4639838539422983

In [29]:
bagg_cross = cross_val_score(clf,X_train,y_train)
print "result of cross-validation: {0}".format(bagg_cross.mean())

result of cross-validation: 0.897274255764

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(n_estimators=1000)
clf.fit(X_train, y_train)
adaboost_prediction = clf.predict(X_test)
matthews_corrcoef(y_test, adaboost_prediction)

In [ ]:
adaboost_cross = cross_val_score(clf,X_train,y_train)
print "result of cross-validation: {0}".format(adaboost_cross.mean())

In [17]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier()
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
matthews_corrcoef(y_test,predictions)

result of cross-validation: 0.897266255732

In [ ]:
nn_cross = cross_val_score(clf,X_train,y_train)
print "result of cross-validation: {0}".format(nn_cross.mean())