In [135]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [136]:
df_train = pd.read_csv('./train.csv', sep=";")

In [137]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 21 columns):
age               2999 non-null int64
job               2999 non-null object
marital           2999 non-null object
education         2999 non-null object
default           2999 non-null object
housing           2999 non-null object
loan              2999 non-null object
contact           2999 non-null object
month             2999 non-null object
day_of_week       2999 non-null object
duration          2999 non-null int64
campaign          2999 non-null int64
pdays             2999 non-null int64
previous          2999 non-null int64
poutcome          2999 non-null object
emp.var.rate      2999 non-null float64
cons.price.idx    2999 non-null float64
cons.conf.idx     2999 non-null float64
euribor3m         2999 non-null float64
nr.employed       2999 non-null float64
y                 2999 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 492.1+ KB

In [138]:
df_train = df_train.drop(['month','day_of_week','poutcome'],axis=1)

In [139]:
# no : 0, yes: 1,unknown:-1
df_train['default'] = df_train['default'].map({'no':0,'yes':1,'unknown':-1})
df_train['housing'] = df_train['housing'].map({'no':0,'yes':1,'unknown':-1})
df_train['loan'] = df_train['loan'].map({'no':0,'yes':1,'unknown':-1})
df_train['y'] = df_train['y'].map({'no':0,'yes':1,'unknown':-1})
df_train['contact'] = df_train['contact'].map({'cellular':0,'telephone':1})
df_train['marital'] = df_train['marital'].map({'divorced':0,'married':1, 'single' : 2, 'unknown': -1})
df_train['education'] = df_train['education'].map({'basic.4y':0,'basic.6y':1,'basic.9y':2,'high.school':3,'illiterate':4,'professional.course':5,'university.degree':6,'unknown':-1})
df_train['job'] = df_train['job'].map({'admin.':0,'blue-collar':1,'entrepreneur':2,'housemaid':3,'management':4,'retired':5,'self-employed':6,'services':7,'student':8,'technician':9,'unemployed':10,'unknown':-1})

In [140]:
df_train

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,1,1,2,0,1,0,0,487,2,999,0,-1.8,92.893,-46.2,1.313,5099.1,0
1,39,7,2,3,0,0,0,1,346,4,999,0,1.1,93.994,-36.4,4.855,5191.0,0
2,25,7,1,3,0,1,0,1,227,1,999,0,1.4,94.465,-41.8,4.962,5228.1,0
3,38,7,1,2,0,-1,-1,1,17,3,999,0,1.4,94.465,-41.8,4.959,5228.1,0
4,47,0,1,6,0,1,0,0,58,1,999,0,-0.1,93.200,-42.0,4.191,5195.8,0
5,32,7,2,6,0,0,0,0,128,3,999,2,-1.1,94.199,-37.5,0.884,4963.6,0
6,32,0,2,6,0,1,0,0,290,4,999,0,-1.1,94.199,-37.5,0.879,4963.6,0
7,41,2,1,6,-1,1,0,0,44,2,999,0,-0.1,93.200,-42.0,4.191,5195.8,0
8,31,7,0,5,0,0,0,0,68,1,999,1,-0.1,93.200,-42.0,4.153,5195.8,0
9,35,1,1,2,-1,0,0,1,170,1,999,0,1.1,93.994,-36.4,4.855,5191.0,0
10,25,7,2,1,-1,1,0,0,301,1,999,0,1.4,93.918,-42.7,4.958,5228.1,0
11,36,6,2,0,0,0,0,0,148,1,999,0,1.4,93.918,-42.7,4.968,5228.1,0
12,36,0,1,3,0,0,0,1,97,2,999,0,1.1,93.994,-36.4,4.859,5191.0,0
13,47,1,1,0,0,1,0,1,211,2,999,0,1.4,94.465,-41.8,4.958,5228.1,0
14,29,0,2,3,0,0,0,0,553,2,999,0,-1.8,92.893,-46.2,1.313,5099.1,0
15,27,7,2,6,0,0,0,0,698,2,999,0,1.4,93.918,-42.7,4.963,5228.1,0
16,44,0,0,6,0,0,0,0,191,6,999,0,1.4,93.918,-42.7,4.957,5228.1,0
17,46,0,0,6,0,1,0,1,59,4,999,0,1.4,93.918,-42.7,4.962,5228.1,0
18,45,2,1,6,-1,1,1,0,38,2,999,0,1.4,93.444,-36.1,4.965,5228.1,0
19,50,1,1,0,0,0,1,0,849,1,999,0,1.4,93.918,-42.7,4.961,5228.1,1
20,55,7,1,1,-1,1,0,0,326,6,999,0,1.4,93.918,-42.7,4.962,5228.1,0
21,39,9,0,3,0,0,0,0,222,1,12,2,-1.8,93.369,-34.8,0.639,5008.7,1
22,29,9,2,6,0,1,1,0,626,3,999,0,1.4,93.444,-36.1,4.967,5228.1,0
23,40,4,1,3,0,0,1,0,119,1,999,0,1.4,93.444,-36.1,4.965,5228.1,0
24,44,9,1,5,-1,1,0,1,388,7,999,0,1.1,93.994,-36.4,4.864,5191.0,0
25,38,9,1,5,0,1,0,0,479,1,999,0,1.4,93.444,-36.1,4.965,5228.1,1
26,36,9,0,5,0,0,0,1,446,1,999,0,1.1,93.994,-36.4,4.856,5191.0,0
27,28,1,1,1,-1,0,0,0,68,2,999,1,-1.8,92.893,-46.2,1.299,5099.1,0
28,47,0,2,-1,-1,0,0,1,127,1,999,0,1.1,93.994,-36.4,4.860,5191.0,0
29,34,0,1,6,0,0,0,0,109,1,999,0,1.4,93.444,-36.1,4.963,5228.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969,48,7,0,3,-1,1,1,1,158,2,999,0,1.1,93.994,-36.4,4.858,5191.0,0
2970,50,4,1,6,0,1,0,1,117,2,999,0,1.1,93.994,-36.4,4.857,5191.0,0
2971,40,1,1,1,-1,1,0,1,211,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
2972,31,0,1,6,0,0,1,0,15,11,999,0,1.4,93.918,-42.7,4.960,5228.1,0
2973,39,1,1,1,0,0,0,1,488,12,999,0,1.1,93.994,-36.4,4.859,5191.0,0
2974,38,0,1,3,0,1,0,0,67,2,999,0,-0.1,93.200,-42.0,4.153,5195.8,0
2975,58,0,0,3,0,0,0,1,81,1,999,0,-0.1,93.798,-40.4,4.794,5195.8,0
2976,37,9,1,5,0,0,1,0,674,3,999,0,1.4,93.918,-42.7,4.957,5228.1,1
2977,34,7,1,3,0,0,0,1,51,2,999,0,1.4,94.465,-41.8,4.864,5228.1,0
2978,35,9,1,3,-1,1,0,0,740,1,999,0,1.4,93.918,-42.7,4.962,5228.1,1
2979,39,2,1,6,0,1,0,0,260,1,999,0,-0.1,93.200,-42.0,4.076,5195.8,0
2980,78,5,1,2,0,1,0,1,321,1,999,0,-3.4,92.431,-26.9,0.754,5017.5,0
2981,43,1,2,3,0,0,1,1,137,1,999,0,-1.8,93.876,-40.0,0.699,5008.7,0
2982,49,9,0,6,0,1,0,1,30,1,999,0,-0.1,93.200,-42.0,4.076,5195.8,0
2983,32,9,1,5,0,0,0,1,293,2,999,0,1.1,93.994,-36.4,4.858,5191.0,0
2984,58,2,1,6,-1,0,0,1,218,1,999,0,1.4,94.465,-41.8,4.959,5228.1,0
2985,42,0,1,6,0,1,0,0,127,1,999,0,1.4,93.444,-36.1,4.967,5228.1,0
2986,32,1,1,5,0,0,0,1,1119,1,999,0,1.1,93.994,-36.4,4.855,5191.0,1
2987,31,9,1,5,0,1,0,0,225,2,999,0,1.4,93.918,-42.7,4.962,5228.1,0
2988,45,7,1,5,0,1,0,0,19,23,999,0,1.4,93.918,-42.7,4.962,5228.1,0
2989,43,1,1,2,-1,1,0,0,288,3,999,1,-1.8,92.893,-46.2,1.313,5099.1,0
2990,53,1,1,0,0,0,0,0,76,1,999,0,1.4,93.444,-36.1,4.968,5228.1,0
2991,42,0,1,3,0,1,1,1,388,1,999,0,1.4,93.918,-42.7,4.962,5228.1,0
2992,40,9,1,5,0,0,0,1,179,2,999,0,1.4,94.465,-41.8,4.959,5228.1,0
2993,41,4,1,6,-1,1,0,0,172,1,999,0,1.4,93.444,-36.1,4.962,5228.1,0
2994,47,1,2,2,-1,0,0,0,159,1,999,0,-1.8,92.893,-46.2,1.334,5099.1,0
2995,53,0,1,6,0,0,1,1,37,13,999,0,1.1,93.994,-36.4,4.856,5191.0,0
2996,60,5,1,6,0,1,0,0,338,2,999,0,-1.1,94.601,-49.5,1.000,4963.6,0
2997,32,9,2,6,0,0,0,0,485,1,999,1,-0.1,93.200,-42.0,4.076,5195.8,0
2998,67,5,1,0,0,0,0,0,300,3,999,0,-1.7,94.027,-38.3,0.898,4991.6,0

In [141]:
df_test = pd.read_csv('./test.csv', sep=";",  header=None)

In [142]:
df_test.columns = ['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed']

In [143]:
df_test

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,49,management,divorced,university.degree,no,no,no,cellular,jul,thu,144,5,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
1,31,admin.,unknown,high.school,no,no,no,telephone,may,mon,182,8,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0
2,31,admin.,single,basic.9y,no,no,no,telephone,may,wed,80,1,999,1,failure,-1.8,92.893,-46.2,1.281,5099.1
3,60,admin.,married,high.school,no,yes,yes,cellular,apr,thu,482,2,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1
4,33,blue-collar,married,high.school,no,no,no,cellular,apr,mon,87,2,999,2,failure,-1.8,93.075,-47.1,1.405,5099.1
5,41,self-employed,married,university.degree,no,yes,no,telephone,may,mon,796,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
6,45,services,married,professional.course,no,yes,no,telephone,may,mon,221,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
7,29,services,divorced,high.school,no,no,yes,telephone,may,mon,251,11,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
8,39,unemployed,married,university.degree,no,no,no,telephone,jun,tue,132,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
9,35,admin.,married,high.school,unknown,yes,yes,telephone,may,tue,236,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
10,33,technician,single,university.degree,no,yes,no,cellular,apr,thu,106,2,999,0,nonexistent,-1.8,93.075,-47.1,1.435,5099.1
11,27,unemployed,single,university.degree,no,no,no,telephone,jul,tue,27,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
12,32,blue-collar,married,basic.9y,unknown,no,no,cellular,jul,thu,240,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
13,45,blue-collar,married,basic.9y,unknown,no,no,telephone,jun,thu,10,16,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
14,36,blue-collar,married,basic.9y,unknown,yes,no,telephone,may,thu,140,3,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
15,41,services,single,unknown,no,yes,no,cellular,may,thu,206,3,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1
16,40,blue-collar,married,unknown,no,no,no,telephone,may,tue,337,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
17,42,management,married,university.degree,no,no,no,cellular,nov,mon,44,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
18,31,admin.,single,university.degree,no,yes,no,cellular,aug,wed,138,2,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
19,32,blue-collar,divorced,basic.9y,no,no,no,telephone,may,mon,287,1,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0
20,32,technician,married,professional.course,no,no,no,cellular,aug,wed,67,4,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
21,27,blue-collar,married,high.school,no,no,no,cellular,may,thu,136,5,999,1,failure,-1.8,92.893,-46.2,1.266,5099.1
22,35,blue-collar,married,basic.4y,no,no,no,telephone,jun,thu,636,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1
23,41,admin.,married,university.degree,no,yes,yes,telephone,may,mon,77,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
24,45,admin.,married,university.degree,no,no,yes,cellular,jul,thu,468,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
25,45,admin.,married,university.degree,no,no,no,cellular,jul,tue,114,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
26,44,admin.,married,high.school,unknown,no,no,cellular,aug,fri,262,4,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
27,51,technician,married,professional.course,no,no,no,cellular,aug,wed,221,9,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1
28,50,unemployed,married,professional.course,no,no,no,cellular,jul,thu,74,3,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
29,41,blue-collar,married,basic.4y,no,no,no,cellular,nov,thu,604,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,25,admin.,single,university.degree,no,yes,yes,cellular,oct,fri,115,1,999,1,failure,-3.4,92.431,-26.9,0.739,5017.5
1091,43,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,593,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1092,38,management,married,high.school,unknown,no,no,telephone,may,thu,879,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
1093,30,blue-collar,single,high.school,no,no,no,telephone,jul,wed,71,1,999,0,nonexistent,1.4,93.918,-42.7,4.956,5228.1
1094,56,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,580,3,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
1095,62,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,152,1,6,1,success,-3.4,92.649,-30.1,0.719,5017.5
1096,36,admin.,single,university.degree,no,no,yes,cellular,aug,fri,69,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
1097,33,services,married,high.school,no,no,no,telephone,may,mon,146,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1098,41,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,102,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
1099,34,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,159,3,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
1100,58,admin.,divorced,high.school,no,no,no,cellular,aug,tue,290,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
1101,41,admin.,divorced,high.school,no,no,no,cellular,apr,fri,620,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
1102,35,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,88,5,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
1103,31,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,70,2,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
1104,43,services,married,high.school,no,no,no,telephone,may,mon,77,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1105,42,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,408,1,999,0,nonexistent,1.4,93.444,-36.1,4.970,5228.1
1106,47,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,159,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
1107,45,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,29,3,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1
1108,36,admin.,married,university.degree,unknown,yes,no,cellular,aug,wed,155,11,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
1109,32,admin.,married,university.degree,no,yes,no,telephone,may,thu,151,5,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
1110,63,retired,married,high.school,no,no,no,cellular,oct,wed,1386,1,999,0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5
1111,53,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,85,2,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
1112,30,technician,married,university.degree,no,no,yes,cellular,jun,fri,131,1,999,1,failure,-1.7,94.055,-39.8,0.748,4991.6
1113,31,technician,single,professional.course,no,yes,no,cellular,nov,thu,155,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
1114,31,admin.,single,university.degree,no,yes,no,cellular,nov,thu,463,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
1115,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,53,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
1116,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,219,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1
1117,27,student,single,high.school,no,no,no,cellular,may,mon,64,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1
1118,58,admin.,married,high.school,no,no,no,cellular,aug,fri,528,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
1119,34,management,single,high.school,no,yes,no,cellular,nov,wed,175,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8

In [144]:
df_test = df_test.drop(['month','day_of_week','poutcome'],axis=1)

In [145]:
df_test.columns = range(df_test.shape[1])
df_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,49,management,divorced,university.degree,no,no,no,cellular,144,5,999,0,1.4,93.918,-42.7,4.963,5228.1
1,31,admin.,unknown,high.school,no,no,no,telephone,182,8,999,0,1.1,93.994,-36.4,4.858,5191.0
2,31,admin.,single,basic.9y,no,no,no,telephone,80,1,999,1,-1.8,92.893,-46.2,1.281,5099.1
3,60,admin.,married,high.school,no,yes,yes,cellular,482,2,999,0,-1.8,93.075,-47.1,1.365,5099.1
4,33,blue-collar,married,high.school,no,no,no,cellular,87,2,999,2,-1.8,93.075,-47.1,1.405,5099.1
5,41,self-employed,married,university.degree,no,yes,no,telephone,796,1,999,0,1.1,93.994,-36.4,4.857,5191.0
6,45,services,married,professional.course,no,yes,no,telephone,221,1,999,0,1.1,93.994,-36.4,4.857,5191.0
7,29,services,divorced,high.school,no,no,yes,telephone,251,11,999,0,1.1,93.994,-36.4,4.857,5191.0
8,39,unemployed,married,university.degree,no,no,no,telephone,132,2,999,0,1.4,94.465,-41.8,4.961,5228.1
9,35,admin.,married,high.school,unknown,yes,yes,telephone,236,1,999,0,1.1,93.994,-36.4,4.857,5191.0
10,33,technician,single,university.degree,no,yes,no,cellular,106,2,999,0,-1.8,93.075,-47.1,1.435,5099.1
11,27,unemployed,single,university.degree,no,no,no,telephone,27,1,999,0,1.4,93.918,-42.7,4.961,5228.1
12,32,blue-collar,married,basic.9y,unknown,no,no,cellular,240,1,999,0,1.4,93.918,-42.7,4.963,5228.1
13,45,blue-collar,married,basic.9y,unknown,no,no,telephone,10,16,999,0,1.4,94.465,-41.8,4.961,5228.1
14,36,blue-collar,married,basic.9y,unknown,yes,no,telephone,140,3,999,0,1.1,93.994,-36.4,4.860,5191.0
15,41,services,single,unknown,no,yes,no,cellular,206,3,999,0,-1.8,92.893,-46.2,1.327,5099.1
16,40,blue-collar,married,unknown,no,no,no,telephone,337,2,999,0,1.1,93.994,-36.4,4.857,5191.0
17,42,management,married,university.degree,no,no,no,cellular,44,1,999,0,-0.1,93.200,-42.0,4.191,5195.8
18,31,admin.,single,university.degree,no,yes,no,cellular,138,2,999,0,1.4,93.444,-36.1,4.964,5228.1
19,32,blue-collar,divorced,basic.9y,no,no,no,telephone,287,1,999,0,1.1,93.994,-36.4,4.858,5191.0
20,32,technician,married,professional.course,no,no,no,cellular,67,4,999,0,1.4,93.444,-36.1,4.964,5228.1
21,27,blue-collar,married,high.school,no,no,no,cellular,136,5,999,1,-1.8,92.893,-46.2,1.266,5099.1
22,35,blue-collar,married,basic.4y,no,no,no,telephone,636,1,999,0,1.4,94.465,-41.8,4.866,5228.1
23,41,admin.,married,university.degree,no,yes,yes,telephone,77,2,999,0,1.1,93.994,-36.4,4.857,5191.0
24,45,admin.,married,university.degree,no,no,yes,cellular,468,1,999,0,1.4,93.918,-42.7,4.968,5228.1
25,45,admin.,married,university.degree,no,no,no,cellular,114,2,999,0,1.4,93.918,-42.7,4.961,5228.1
26,44,admin.,married,high.school,unknown,no,no,cellular,262,4,999,0,1.4,93.444,-36.1,4.966,5228.1
27,51,technician,married,professional.course,no,no,no,cellular,221,9,999,0,1.4,93.444,-36.1,4.967,5228.1
28,50,unemployed,married,professional.course,no,no,no,cellular,74,3,999,0,1.4,93.918,-42.7,4.968,5228.1
29,41,blue-collar,married,basic.4y,no,no,no,cellular,604,1,999,0,-0.1,93.200,-42.0,4.076,5195.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,25,admin.,single,university.degree,no,yes,yes,cellular,115,1,999,1,-3.4,92.431,-26.9,0.739,5017.5
1091,43,blue-collar,married,basic.4y,unknown,yes,yes,telephone,593,2,999,0,1.1,93.994,-36.4,4.857,5191.0
1092,38,management,married,high.school,unknown,no,no,telephone,879,2,999,0,1.1,93.994,-36.4,4.860,5191.0
1093,30,blue-collar,single,high.school,no,no,no,telephone,71,1,999,0,1.4,93.918,-42.7,4.956,5228.1
1094,56,retired,married,basic.4y,unknown,no,no,cellular,580,3,999,0,1.4,93.918,-42.7,4.961,5228.1
1095,62,blue-collar,married,basic.4y,no,yes,no,cellular,152,1,6,1,-3.4,92.649,-30.1,0.719,5017.5
1096,36,admin.,single,university.degree,no,no,yes,cellular,69,2,999,0,1.4,93.444,-36.1,4.963,5228.1
1097,33,services,married,high.school,no,no,no,telephone,146,2,999,0,1.1,93.994,-36.4,4.857,5191.0
1098,41,blue-collar,divorced,basic.9y,no,no,no,cellular,102,1,999,0,1.4,93.444,-36.1,4.963,5228.1
1099,34,housemaid,single,university.degree,no,yes,no,cellular,159,3,999,0,1.4,93.444,-36.1,4.963,5228.1
1100,58,admin.,divorced,high.school,no,no,no,cellular,290,1,999,0,1.4,93.444,-36.1,4.963,5228.1
1101,41,admin.,divorced,high.school,no,no,no,cellular,620,1,999,0,-1.8,93.075,-47.1,1.405,5099.1
1102,35,entrepreneur,single,university.degree,no,yes,no,cellular,88,5,999,0,1.4,93.918,-42.7,4.960,5228.1
1103,31,blue-collar,single,basic.9y,unknown,no,yes,telephone,70,2,999,0,1.4,94.465,-41.8,4.959,5228.1
1104,43,services,married,high.school,no,no,no,telephone,77,1,999,0,1.1,93.994,-36.4,4.857,5191.0
1105,42,technician,divorced,professional.course,no,yes,no,cellular,408,1,999,0,1.4,93.444,-36.1,4.970,5228.1
1106,47,housemaid,married,basic.4y,unknown,yes,no,telephone,159,2,999,0,1.4,93.918,-42.7,4.961,5228.1
1107,45,entrepreneur,divorced,basic.9y,no,yes,no,cellular,29,3,999,0,-1.8,92.893,-46.2,1.344,5099.1
1108,36,admin.,married,university.degree,unknown,yes,no,cellular,155,11,999,0,1.4,93.444,-36.1,4.964,5228.1
1109,32,admin.,married,university.degree,no,yes,no,telephone,151,5,999,0,-1.8,92.893,-46.2,1.266,5099.1
1110,63,retired,married,high.school,no,no,no,cellular,1386,1,999,0,-3.4,92.431,-26.9,0.740,5017.5
1111,53,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,85,2,999,0,1.1,93.994,-36.4,4.855,5191.0
1112,30,technician,married,university.degree,no,no,yes,cellular,131,1,999,1,-1.7,94.055,-39.8,0.748,4991.6
1113,31,technician,single,professional.course,no,yes,no,cellular,155,1,999,0,-0.1,93.200,-42.0,4.076,5195.8
1114,31,admin.,single,university.degree,no,yes,no,cellular,463,1,999,0,-0.1,93.200,-42.0,4.076,5195.8
1115,30,admin.,married,basic.6y,no,yes,yes,cellular,53,1,999,0,1.4,93.918,-42.7,4.958,5228.1
1116,39,admin.,married,high.school,no,yes,no,telephone,219,1,999,0,1.4,93.918,-42.7,4.959,5228.1
1117,27,student,single,high.school,no,no,no,cellular,64,2,999,1,-1.8,92.893,-46.2,1.354,5099.1
1118,58,admin.,married,high.school,no,no,no,cellular,528,1,999,0,1.4,93.444,-36.1,4.966,5228.1
1119,34,management,single,high.school,no,yes,no,cellular,175,1,999,0,-0.1,93.200,-42.0,4.120,5195.8

In [146]:
#æ ‡å‡†åŒ–ï¼Œè¿”å›žå€¼ä¸ºæ ‡å‡†åŒ–åŽçš„æ•°æ®
from sklearn.preprocessing import StandardScaler
StandardScaler().fit_transform(df_train.values)

array([[-0.96194567, -0.75441163, -0.28089438, ..., -1.31818749,
        -0.89471991, -0.35222574],
       [-0.08650311,  0.92377886,  1.35166813, ...,  0.71822332,
         0.34095638, -0.35222574],
       [-1.44830265,  0.92377886, -0.28089438, ...,  0.77974109,
         0.83979849, -0.35222574],
       ...,
       [ 1.95619622,  0.36438203, -0.28089438, ..., -1.49814135,
        -2.71663653, -0.35222574],
       [-0.76740288,  1.48317569,  1.35166813, ...,  0.27035092,
         0.4054966 , -0.35222574],
       [ 2.63709599,  0.36438203, -0.28089438, ..., -1.55678446,
        -2.34015192, -0.35222574]])

In [183]:
train_X = df_train.values[:,:-1]
train_y = df_train.values[:,-1]
test_X  = df_test.values

In [190]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.feature_selection import RFE

#é€’å½’ç‰¹å¾æ¶ˆé™¤æ³•ï¼Œè¿”å›žç‰¹å¾é€‰æ‹©åŽçš„æ•°æ®
#å‚æ•°estimatorä¸ºåŸºæ¨¡åž‹
#å‚æ•°n_features_to_selectä¸ºé€‰æ‹©çš„ç‰¹å¾ä¸ªæ•°
x = RFE(estimator=AdaBoostClassifier(), n_features_to_select=10).fit_transform(train_X, train_y)

In [194]:
clf = AdaBoostClassifier(n_estimators=1000)
clf.fit(x, train_y)
clf.predict(test_X)

ValueError: could not convert string to float: cellular